.jumbotron {
  background-color: darkgrey;
}

.coochie {
  font-family: "CoochieNandoNFW01-Regular";
  font-size: 5rem;
}

.edwardian {
  font-family: "Edwardian Script ITC";
  font-size: 3rem;
}

h2 {
  font-family: "CoochieNandoNFW01-Regular";
}

h5 {
  font-size: 2rem;
  text-align: center;
}

h6 {
  font-size: 1.5rem;
  text-align: center;
  padding: 2px;
  background-color: darkgrey;
}

.card:hover {
  box-shadow: 4px 8px #000000;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}